<ion-grid class="ion-no-padding">
  <ion-row class="product-container ion-no-padding">
    <ion-col class="ion-no-padding" size="3">
      <img class="product-image" src="https://www.shareicon.net/data/256x256/2016/06/17/595719_fish_512x512.png"/>
    </ion-col>
    <ion-col class="ion-no-padding" size="6">
      <ion-row class="label label-price"><b> ₡ {{productPrice}}</b></ion-row>
      <ion-row class="label label-type">{{productType}}</ion-row>
      <ion-row class="label label-location">{{currentLocation}}</ion-row>
      <ion-row class="label label-quantity">{{productQuantity}} kg</ion-row>
    </ion-col>
    <ion-col class="ion-no-padding" size="3">
      <div class="horizontal">
        <ion-icon class="edit-product-icon" name="create-outline"></ion-icon>
        <ion-icon class="delete-product-icon" name="trash-outline"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>