<ion-header class="register-header">
  <ion-toolbar class="ion-no-padding register-header__toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="register-header__back-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="register-header__title ion-no-padding">Creando Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="registration-form">
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
      <ion-label class="registration-form__item-label" for="name">Nombre completo</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.name.valid && registrationForm.controls.name.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('name')" class="registration-form__item-input ion-no-padding" id="name" type="text" formControlName="name" placeholder="Nombre y Apellidos"></ion-input> 
      </ion-item>
      <ion-label class="registration-form__item-label" for="cedula">Cédula</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.cedula.valid && registrationForm.controls.cedula.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('cedula')" class="registration-form__item-input ion-no-padding" id="cedula" type="number" formControlName="cedula" placeholder="Número de cédula"></ion-input> 
      </ion-item>
      <ion-label class="registration-form__item-label" for="phone">Número de teléfono</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.phone.valid && registrationForm.controls.phone.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('phone')" [(ngModel)]="phoneNumber" (ionChange)="autocompletePhoneNumbers()" class="registration-form__item-input ion-no-padding" id="phone" type="number" formControlName="phone" placeholder="Número telefónico"></ion-input>
        <ion-icon class="registration-form__item-invalid-icon" [class.registration-form__item-valid-icon]="registrationForm.controls.phone.valid" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
      <ion-label class="registration-form__item-label" for="ubicacion">Ubicación Habitacional</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.ubicacion.valid && registrationForm.controls.ubicacion.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('ubicacion')" class="registration-form__item-input ion-no-padding" id="ubicacion" type="text" formControlName="ubicacion" placeholder="Ubicación"></ion-input> 
      </ion-item>
      <ion-label class="registration-form__item-label" for="correo">Correo ** (opcional)</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.correo.valid && registrationForm.controls.correo.dirty" style="margin-bottom: 5vh;" lines="none">
        <ion-input (ionBlur)="checkInputValue('correo')" class="registration-form__item-input ion-no-padding" id="correo" type="text" formControlName="correo" placeholder="Correo electrónico"></ion-input>
      </ion-item>
      <ion-label class="registration-form__item-label" for="password">Contraseña</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.password.valid && registrationForm.controls.password.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('password')" class="registration-form__item-input ion-no-padding" id="password" type="{{showPassword ? 'text' : 'password'}}" formControlName="password" placeholder="Escriba su contraseña"></ion-input> 
        <ion-icon class="registration-form__item-password-toggle-icon" name="{{passwordToggleIcon}}" (click)="togglePassword()"></ion-icon>
      </ion-item>
      <ion-label class="registration-form__item-label" for="confirmPassword">Verificación de contraseña</ion-label>
      <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.confirmPassword.valid && registrationForm.controls.confirmPassword.dirty" lines="none">
        <ion-input (ionBlur)="checkInputValue('confirmPassword')" class="registration-form__item-input ion-no-padding" id="confirmPassword" type="{{showPasswordRepetition ? 'text' : 'password'}}" formControlName="confirmPassword" placeholder="Vuelva a escribir su contraseña"></ion-input> 
        <ion-icon class="registration-form__item-password-toggle-icon" name="{{repeatPasswordToggleIcon}}" (click)="toggleRepeatPassword()"></ion-icon>
      </ion-item>
      <div *ngIf="userType=='seller'">
        <ion-label class="registration-form__subsection-title">Método de contacto</ion-label>
        <ion-label class="registration-form__item-label" for="whatsapp">Whatsapp</ion-label>
        <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.whatsapp.valid && registrationForm.controls.whatsapp.dirty" lines="none">
          <ion-input (ionBlur)="checkInputValue('whatsapp')" [(ngModel)]="whatsapp" class="registration-form__item-input ion-no-padding" id="whatsapp" type="number" formControlName="whatsapp" placeholder="8888-8888"></ion-input> 
        </ion-item>
        <ion-label class="registration-form__item-label" for="telegram">Telegram</ion-label>
        <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.telegram.valid && registrationForm.controls.telegram.dirty" lines="none">
          <ion-input (ionBlur)="checkInputValue('telegram')" [(ngModel)]="telegram" class="registration-form__item-input ion-no-padding" id="telegram" type="number" formControlName="telegram" placeholder="8888-8888"></ion-input> 
        </ion-item>
        <ion-label class="registration-form__item-label" for="sinpe">SINPE Móvil</ion-label>
        <ion-item class="registration-form__item ion-no-padding" [class.registration-form__item-invalid]="!registrationForm.controls.sinpe.valid && registrationForm.controls.sinpe.dirty" lines="none">
          <ion-input (ionBlur)="checkInputValue('sinpe')" [(ngModel)]="sinpe" class="registration-form__item-input ion-no-padding" id="sinpe" type="number" formControlName="sinpe" placeholder="8888-8888"></ion-input> 
        </ion-item>
      </div>
      <ion-button class="registration-form__submit-button" type="submit" [disabled]="!registrationForm.valid" strong="true" expand="block">Siguiente</ion-button>
    </form>
  </div>
</ion-content>
