.register-header {

    &__toolbar {
        padding-top: 6vh;
        --border-width: 0 !important;
    }
    
    &__title {
        font-family: SF UI Text Bold;
        font-weight: bolder;
        font-size: 5.8vw;
        line-height: 3.7vh;
    }

    &__back-btn {
        color: black;
        margin-left: 6.5vw;
        width: 5.6vw;
    }
}

.registration-form {
    margin: 3.2vh 6.5vw;

    &__item {
        --padding-start: 0;
        --border-width: 0 0 1.5px 0;
        --border-color: #838383;
        margin-bottom: 2.5vh;
        height: fit-content;

        &-label {
            font-family: TT Norms Bold;
            font-size: 3.74vw;
            color: #0C1722;
        }
    
        &-input {
            font-family: TT Norms Regular;
            font-size: 3.2vw;
            font-weight: 500;
            color: #838383;
        }
        
        &-invalid-icon {
            font-size: 2vh;
            color: #C4C4C4;
        }

        &-valid-icon {
            color: #53D769 !important;
        }

        &-password-toggle-icon {
            font-size: 2.37vh;
            color: #8F92A1;
        }

    }

    &__subsection-title {
        font-family: TT Norms Bold;
        display: block;
        font-size: 5.4vw;
        margin: 7vh 0 0.9vh 0;
    }

    &__submit-button {
        margin: 5.8vh 0 0 0;
        height: 6.1vh;
        font-family: TT Norms Bold;
        font-size: 2.2vh;
        --border-radius: 60px;
        --color: white;
        --background: #838383;
    }
}

ion-item {
    --inner-padding-end: 0px;
    --min-height: 3vh;
}