<ion-header>
  <ion-toolbar>
    <ion-title>config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
      <ion-card-header>
        Card Header
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias magni quisquam corporis provident velit delectus alias necessitatibus aperiam fuga inventore voluptatibus, recusandae et nesciunt aliquid. Tenetur cum aliquam deleniti nam!
      </ion-card-content>
    </ion-card>


    
</ion-content>
