.modal-container{
    margin-top: 80px;

    &__title{
        font-family: "TT Norms";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        align-self: center;
        color: #2E3034;
        text-align: center;
        width: 100%;
    }
}

.choose-user-container{
    margin-top: 5px;
}

.choose-user{

    &__label{
        font-family: "TT Norms";
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        color: #1E1F20;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 303px;
        height: 20px;  
    }

    &__button-unselected{
        width: 140px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        --background: #ffffff;
    }

    &__button-selected-buyer{
        width: 140px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        --background: #EE7333;
    }

    &__button-selected-seller{
        width: 140px;
        height: 140px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 24px;
        --background: #00A3FF;
    }

}

.next-button {
    margin-top: 86px;
    margin-bottom: 80px;
    margin-left: 25px;
    margin-right: 25px;
    height: 48px;
    font-size: 18px;
    font-style: normal;
    font-family: "TT Norms";
    font-weight: bold;
    line-height: 21px;
    color: #ffffff;
    --border-radius: 60px;
    --background: #838383;
}