<ion-header>
</ion-header>

<ion-content>
  <div class="modal-container">
    <ion-icon name="chevron-back-circle" class="modal-container__go-back-button"></ion-icon>
    <b><ion-label class="modal-container__title">¿Qué tipo de cuenta desea tener?</ion-label></b>
  </div>
  <div class="choose-user">
    <ion-button class="choose-user__button-unselected" strong="true" expand="block" (click)="selectUserType('buyer')" [class.choose-user__button-selected]="isBuyerSelected">Comprador</ion-button>
    <b><ion-label class="choose-user__label">Comprador</ion-label></b>
    <ion-button class="choose-user__button-unselected" strong="true" expand="block" (click)="selectUserType('seller')" [class.choose-user__button-selected]="isSellerSelected">Vendedor</ion-button>
    <b><ion-label class="choose-user__label">Vendedor</ion-label></b>
    <ion-button class="choose-user__next-button" type="submit" strong="true" expand="block" [disabled]="!selectedUserType" (click)="goToRegistrationPage(selectedUserType)">Siguiente</ion-button>
  </div>
  <ion-content>