.modal-container{
    width: 100%;
    height: 100vh;
    background-color: #FBFAF9;

    &__title{
        margin-top: 10vh;
        font-family: TT Norms Bold;
        font-style: normal;
        font-size: 8.3vw;
        line-height: 4.7vh;
        position: absolute;
        left: 50vw;
        transform: translateX(-50%);
        align-self: center;
        color: #2E3034;
        text-align: center;
        width: 90vw;
        background-color: #FBFAF9;
    }
}

.choose-user{
    margin-top: 1vh;

    &__label{
        font-family: TT Norms Bold;
        font-style: normal;
        font-size: 5vw;
        line-height: 4.6vh;
        color: #1E1F20;
        display: flex;
        justify-content: center;
        margin: auto;
        width: 84.2vw; 
    }

    &__button-unselected {
        width: 17.3vh;
        height: 17.3vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6.3vh;
        --background: #ffffff;
    }

    &__button-selected-buyer {
        --background: #EE7333;
    }

    &__button-selected-seller {
        --background: #00A3FF;
    }

}

.next-button-unselected{
    margin-top: 8.5vh;
    margin-bottom: 8.5vh;
    margin-left: 6.9vw;
    margin-right: 6.9vw;
    height: 6.5vh;
    font-size: 5vw;
    font-style: normal;
    font-family: TT Norms Bold;
    line-height: 4.6vh;
    color: #FFFFFF;
    --border-radius: 60px;
    --background: #838383;
}

.next-button-selected-buyer {
    --background: #EE7333;
}

.next-button-selected-seller {
    --background: #00A3FF;
}

