div.container {
    height: 100%;
    display: flex;
    align-items: center;
}
ion-grid {
    margin-bottom: 20%;
    ion-col {
        display: flex;
        justify-content: center;
        .shadow {
            -webkit-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.75);
        }
        .circle {
            background: #f4f5f8;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
