<ion-header>

</ion-header>

<ion-content>
  <ion-grid class="login-page-grid ion-no-padding">
    <ion-row>
      <img class="logo" src="../assets/icon/logo.svg">
    </ion-row>
    <ion-row>
      <ion-col class="login-container ion-no-padding">
        <ion-label class="login-container__welcome-title">¡Bienvenido!</ion-label>
        <ion-label class="login-container__request-phone-label">Pesca Artesanal Costa Rica</ion-label>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="logUser()">
          <b><ion-label class="login-form__phone-label" for="phone">NÚMERO DE TELÉFONO</ion-label></b>
          <ion-item class="login-form__phone-item" lines="none">
            <ion-input class="login-form__phone-item_input" id="phone" type="phone" formControlName="phone" placeholder="Número telefónico"></ion-input> 
            <ion-icon class="login-form__phone-item_valid-icon" [class.login-form__phone-item_invalid-icon]="loginForm.valid" name="checkmark-circle-outline"></ion-icon>
          </ion-item>
          <ion-button class="login-form__submit-button" type="submit" [disabled]="!loginForm.valid" strong="true" expand="block">Siguiente</ion-button>
          <ion-label class="login-form__forgot-password">¿Olvidaste tu contraseña?</ion-label>
        </form>
        <ion-button class="create-account-button" type="submit" strong="true" fill="outline" expand="block" (click) = "presentModal()">Crear Cuenta</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>