<ion-header class="header-container" >
  <ion-toolbar class="header-container__toolbar ion-no-padding">
    <ion-buttons slot="start">
      <ion-button (click)="cancel($event)">
        <ion-icon class="header-container__go-back-button" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-container__title">Mi Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="add-product-form" [formGroup]="addProductForm" (submit)="newProductCallBack($event)">
    <ion-item class="add-product-form__item ion-no-padding" lines="none">
      <ion-label class="add-product-form__item-label" for="productType">
        Tipo de producto
      </ion-label>
      <ion-select class="ion-no-padding add-product-form__item-dropdown" interface="popover" (ionChange)="inputChanged('productType')" id="productType" formControlName="productType" placeholder="Producto">
        <ion-select-option value="1">Pez 1</ion-select-option>
        <ion-select-option value="2">Pez 2</ion-select-option>
        <ion-select-option value="3">Pez 3</ion-select-option>
        <ion-select-option value="4">Pez 4</ion-select-option>
        <ion-select-option value="5">Pez 5</ion-select-option>
        <ion-select-option value="6">Pez 6</ion-select-option>
        <ion-select-option value="7">Pez 7</ion-select-option>
        <ion-select-option value="8">Pez 8</ion-select-option>
        <ion-select-option value="9">Pez 9</ion-select-option>
        <ion-select-option value="10">Pez 10</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="add-product-form__item ion-no-padding" lines="none">
      <ion-label class="add-product-form__item-label" for="productQuantity">
        Cantidad
      </ion-label>
      <ion-input class="ion-no-padding add-product-form__item-input" (ionChange)="inputChanged('productQuantity')" type="number" id="productQuantity" formControlName="productQuantity" placeholder="00.00">
      </ion-input>
      <span>kg</span>
    </ion-item>
    <ion-item class="add-product-form__item ion-no-padding" lines="none">
      <ion-label class="add-product-form__item-label" for="productPrice">
        Precio x kilo
      </ion-label>
      <ion-input class="ion-no-padding add-product-form__item-input" (ionChange)="inputChanged('productPrice')" type="number" id="productPrice" formControlName="productPrice" placeholder="₡ 0.000">
      </ion-input>
    </ion-item>
    <ion-item class="add-product-form__item ion-no-padding" lines="none">
      <ion-label class="add-product-form__item-label" for="productExtractionDate">
        Fecha de pesca
      </ion-label>
      <ion-input class="ion-no-padding add-product-form__item-input" (ionChange)="inputChanged('productExtractionDate')" type="date" id="productExtractionDate" formControlName="productExtractionDate">
      </ion-input>
    </ion-item>
    <ion-item class="add-product-form__item ion-no-padding" lines="none">
      <ion-label class="add-product-form__item-label" for="productFishingZone">
        Zona de pesca
      </ion-label>
      <ion-select class="ion-no-padding add-product-form__item-dropdown" interface="popover" (ionChange)="inputChanged('productFishingZone')" id="productFishingZone" formControlName="productFishingZone" placeholder="Zona">
        <ion-select-option value="1">Zona 1</ion-select-option>
        <ion-select-option value="2">Zona 2</ion-select-option>
        <ion-select-option value="3">Zona 3</ion-select-option>
        <ion-select-option value="4">Zona 4</ion-select-option>
        <ion-select-option value="5">Zona 5</ion-select-option>
        <ion-select-option value="6">Zona 6</ion-select-option>
        <ion-select-option value="7">Zona 7</ion-select-option>
        <ion-select-option value="8">Zona 8</ion-select-option>
        <ion-select-option value="9">Zona 9</ion-select-option>
        <ion-select-option value="10">Zona 10</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="add-product-form__item-last ion-no-padding" lines="none">
      <ion-input class="add-product-form__item-location-input ion-no-padding" (ionChange)="inputChanged('currentLocation')"  type="text" id="currentLocation" formControlName="currentLocation"
        placeholder="Ubicación de pesca">
      </ion-input>
      <ion-icon class="add-product-form__item-icon"name="location-outline"></ion-icon>
    </ion-item>
    <div>
      <ion-button class="add-product-form__submit-button" [disabled]="!canSubmit" shape="round" strong="true" expand="block" type="submit">Confirmar</ion-button>
    </div>
  </form>
</ion-content>