.header-container {
    margin-top: 44px;

    &__toolbar {
        height: 60px;
        --border-color: #F6F6F6;
        --border-width: 0 0 4px !important;
    }

    &__go-back-button {
        margin: 0 0 0 21px;
        font-size: 40px;
        color: #BDBDBD;
    }

    &__title {
        font-size: 22px;
        line-height: 30px;
    }
}

.add-product-form {
    margin-top: 30px;

    &__item {
        --padding-start: 0;
        --border-width: 0 0 2px 0;
        --border-color: rgba(143,146,161,.2);
        --color: #9A999E;
        --font-size: 12px;
        --line-height: 14px;

        &-label {
            margin-left: 33px;
            width: 125px;
        }

        &-last {
            --padding-bottom: 40px; 
            --border-width: 0 0 4px 0;
            --border-color: #F6F6F6;
        }

        &-icon {
            font-size: 20px;
            color:#9A999E;
            margin-right: 25px;
            background-color: #F6F6F6;
            padding: 2px 3px 2px 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &-location-input {
            margin-left: 33px;
            background-color: #F6F6F6;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            --padding-start: 5px !important;
            --padding-top: 2px !important;
            --padding-bottom: 2px !important;
        }

        &-dropdown {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: 25px;
            background-color: #F6F6F6;
            border-radius: 3px;
            width: 115px;
            text-align: center;
        }

        &-input {
            text-align: center;
            margin: 0 8px 0 60px;
            max-width: 115px;
            border-radius: 3px;
            background-color: #F6F6F6;
        }
        
    }

    &__submit-button {
        margin: 29px 22px 0 22px;
        height: 48px;
        font-size: 14px;
        line-height: 20px;
        --color: #474141;
        --background: #EEEDED;
    }
}