<div class="main-container" *ngIf="products.length == 0">
  <ion-header class="header-container">
    <ion-button class="header-container__go-back-button"><img src="../assets/icon/back.svg"></ion-button>
    <ion-title class="header-container__title">Mi producto</ion-title>
  </ion-header>
  
  <div>
      <div class="add-product">
        <ion-fab-button class=" add-product__button" (click)="presentAddProductModal($event)">
          <img src="../assets/icon/add.svg">
        </ion-fab-button>
        <ion-label class="add-product__label">Agregá tu primer producto</ion-label>
      </div>
      <div>
        <ion-button class="add-product__skip-button" type="submit" strong="true" fill="outline" expand="block">Omitir</ion-button>
      </div>
  </div>
</div>

<div class="main-container" *ngIf="products.length > 0">
  <ion-header class="header-stock" *ngIf="products.length > 0">
    <ion-toolbar class="header-container__toolbar ion-no-padding">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon class="header-container__go-back-button" name="chevron-back-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="header-container__title ion-no-padding"><b>Mis productos</b></ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon class="header-container__close-button" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="stock-content">
    <app-product-list [products]=products></app-product-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="new-product-button" (click)="presentAddProductModal($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-footer class="page-footer">
    <ion-segment class="page-footer__segment">
      <ion-segment-button >
        <ion-icon src="../assets/icon/search.svg"></ion-icon>
      </ion-segment-button>
      <ion-segment-button routerLink="/stock" >
        <ion-icon  src="../assets/icon/bitacora.svg"></ion-icon>
      </ion-segment-button>
      <ion-segment-button >
        <ion-icon src="../assets/icon/user.svg"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-footer>
</div>
